
body{
  background-image: url('./images/kids-background.jpg');
  /* background-position: 30vw 15vh; */
  background-repeat: no-repeat; 
  /* background-color: #2F2FA2; */
  background-size: 100% 100vh;
  /* background-position: center; */
  /* background-attachment: fixed; */
  margin: 0;
}

.bodyDiv {
  height: 100vh;
}

#teacher-image {
  position: absolute;
  height: 70%;
  right: 10%;
  top: 30%;
}

.heading, #game-over, #final-score{
  font-size: 5rem;
  margin-top: 0%;
  /* margin: 30px; */
  /* padding: 10px; */
  /* color: #F64C72; */
  color: yellowgreen;
  font-family: 'Frosty';
  text-align: center;
}

#selection-fields {
  text-align: center;
  width: 30%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 5%;
}

.selectLevel{
  /* color:yellowgreen !important; */
}

.selectLevel:focus{
  background-color: whitesmoke;
  font-weight: 900;
}

.score, .number{
  margin-top: 20px;
  display: block;
}

#answer{
  margin-top: 10%;
  color: black !important;
}
/* .button{
  padding: 10px !important;
  margin-top: 20px !important;
} */

#button {
  background-color: whitesmoke !important;
  color: yellowgreen;
  margin-top: 10%;
  font-weight: bolder;
}

#btn-div {
  margin-top: 5%;
  text-align: center;
}

.btn-main{
  background-color: yellowgreen !important;
  color:white !important;
  font-weight: 600 !important;
}

.svgs {
  border-radius: 50%;
  box-shadow: white 10px 10px 50px 20px;
  height: 22.5%;
  width: 10%;
  position: absolute;
  top: 42%;
  right: 11%;
}


@font-face {
  font-family: 'Frosty';
  src: url('FROSTY.TTF');
};


