
body{
  background-image: url('./images/Math3.png');
  background-position: 30vw 15vh;
  background-repeat: no-repeat;
  background-color: #2F2FA2;
  /* background-size: cover; */
}

.heading, #game-over, #final-score{
  font-size: 5vw;
  margin: 30px;
  padding: 10px;
  color: #F64C72;
  font-family: 'Frosty';
}

.selectLevel{
  width: 10vw;
  color: #F64C72;
  margin: 30px 0px 30px 40px;
}
.selectLevel:focus{
  background-color: #F64C72;
  font-weight: 900;
}

.score, .number{
  margin-top: 20px;
  display: block;
}

#answer{
  padding: 10px !important;
  color: #242582 !important;
}
.button{
  padding: 10px !important;
  margin-top: 20px !important;
}
.btn-main{
  background-color: #F64C72 !important;
  color: #2F2FA2 !important;
  font-weight: 600 !important;
  position: absolute !important;
  left: 3vw;
  top: 25vh;
}

* {
  color:white;
}

@font-face {
  font-family: 'Frosty';
  src: url('FROSTY.TTF');
};