
body{
  background-image: url('./images/kids-background.jpg');
  /* background-position: 30vw 15vh; */
  /* background-repeat: no-repeat;  */
  /* background-color: #2F2FA2; */
  background-size: 100% 100vh;
  /* background-position: center; */
  /* background-attachment: fixed; */

}

#teacher-image {
  position: absolute;
  height: 70%;
  right: 10%;
  top: 30%;
}

.heading{
  font-size: 5vw;
  margin: 30px;
  padding: 10px;
  color: #F64C72;
  color: yellowgreen;
  font-family: 'Frosty';
  text-align: center;
}

#selection-fields {
  text-align: center;
  width: 30%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 5%;
}

.selectLevel{
  /* color:yellowgreen !important; */
}

.selectLevel:focus{
  background-color: whitesmoke;
  font-weight: 900;
}

.score, .number{
  margin-top: 20px;
  display: block;
}

#answer{
  padding: 10px !important;
  color: #242582 !important;
}
.button{
  padding: 10px !important;
  margin-top: 20px !important;
}

#btn-div {
  margin-top: 5%;
  text-align: center;
}

.btn-main{
  background-color: yellowgreen !important;
  color:white !important;
  font-weight: 600 !important;
}


@font-face {
  font-family: 'Frosty';
  src: url('FROSTY.TTF');
};